@background-color: #FFF;
@form-background-color: #193d5a;
@form-text-color: #FFF;
@content-color: #FFF;
@primary-accent-color: #193d5a;
@secondary-accent-color: #ffad00;
@tertiary-accent-color: #760000;
@table-primary-background: #FFF;

@warning-color: #E57E00;

body {
  background-color: @background-color;
  height: 100%;
}

a {
  color: @primary-accent-color;
  &:hover {
    color: @secondary-accent-color;
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  color: @primary-accent-color;
}

table {
  background-color: @table-primary-background;
}

th {
  color: @primary-accent-color;
}

#task-forms {
  background-color: @form-background-color;
  color: @form-text-color;
  padding: 10px;
}

.app-container {
  height: 100%;
}

.content {
  padding: 10px;
  height: 100%;
}

.container {
  background-color: @content-color;
  height: 100%;

}

.searched-list-names {
  background-color: @tertiary-accent-color;
  a {
    padding: 0 0 0 5px;
    color: @content-color;
  }
}

.searched-task-names {
  background-color: @secondary-accent-color;
  a {
    padding: 0 0 0 20px;
    color: @primary-accent-color;
  }
}

.oi {
  cursor: pointer;
  color: @primary-accent-color;
}

.due-date-upcoming {
  color: @warning-color;
}

.selected-icon {
  text-decoration: underline;
}