@background-color: #193d5a;
@content-color: #f2f0f0;
@primary-accent-color: #760000;
@secondary-accent-color: #ffad00;
@table-primary-background: #FFF;

@warning-color: #E57E00;

body {
    background-color: @background-color;
}

a {
    color: @primary-accent-color;
    &:hover {
        color: @secondary-accent-color;
        text-decoration: none;
    }
}

h1, h2, h3, h4 {
  color: @primary-accent-color;
}

table {
  background-color: @table-primary-background;
}

th {
  color: @primary-accent-color;
}

.content {
  padding: 10px;
}

.container {
  background-color: @content-color;

}

.searched-list-names {
  background-color: @background-color;
  a {
    padding: 0 0 0 5px;
    color: @content-color;
  }
}

.searched-task-names {
  background-color: @secondary-accent-color;
  a {
    padding: 0 0 0 20px;
    color: @primary-accent-color;
  }
}

.oi {
    cursor: pointer;
}

.due-date-upcoming {
  color: @warning-color;
}